.moodal-shade { background: rgba(0, 0, 0, 0.7); display: none; position: fixed; z-index: 999; width: 100%; height: 100%; left: 0; top: 0; }

.moodal-box { background: #fff; position: fixed; top: 0; left: 0; font-size: 12px; z-index: 1000; -moz-box-sizing: border-box; box-sizing: border-box; }

.moodal-preloader { background: #fff; position: fixed; top: 50%; left: 50%; z-index: 1001; }
.moodal-preloader img { display: block; }

.moodal-box.regular { border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.8) 0 1px 8px; }
.moodal-box.regular .moodal-content { padding: 10px; }

.moodal-preloader.regular { border-radius: 50%; box-shadow: rgba(0, 0, 0, 0.9) 0 1px 5px; overflow: hidden; }
.moodal-preloader.regular img { padding: 5px; }
