// REGULAR

.#{$prefix}box.regular {
	$u: 5px;

	border-radius: $u;
	box-shadow: rgba(0,0,0,.8) 0 1px 8px;

	&.min-width {
		border-radius: 0;

		.moodal-close {
			border-radius: 0;
			border-width: 1px;
			padding: 0 $u - 2;
			right: 0;
			top: 0;
		}
	}

	.moodal-content { padding: $u*2; }

	.moodal-close {
		background: #000;
		border: 2px solid #fff;
		border-radius: 50%;
		color: #fff;
		font-weight: 700;
		padding: 0 $u - 1 1px;
		position: absolute;
		right: -$u;
		top: -$u;

		&:hover {
			$c: #ff0;
			border-color: $c;
			color: $c;
		}
	}
}