// CSS3

// Transition
@mixin transition($properties...) {
	$prefixes: webkit, o;

	@each $prefix in $prefixes {
		#{''}-#{$prefix}-transition: $properties;
	}

	transition: $properties;
}

// Linear Gradient
@mixin linear-gradient($pos, $start, $end, $startPos: 0%, $endPos: 100%, $legacy: false) {
	$prefixes: webkit, o, moz;
	$gradient: $pos, $start $startPos, $end $endPos;

	@if ($legacy) {
		background: $start;
	}

	@each $prefix in $prefixes {
		background: #{''}-#{$prefix}-linear-gradient($gradient);
	}

	background: linear-gradient($gradient);
}

// Box sizing
@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	box-sizing: $value;
}

// Transform
@mixin transform($properties...) {
	$prefixes: webkit, o, ms;

	@each $prefix in $prefixes {
		#{''}-#{$prefix}-transform: $properties;
	}

	transform: $properties;
}