// FONT FACE

// Source: http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
@mixin font-face($fontname, $path, $filename) {
	@font-face {
		font-family: quote($fontname);

		src: url($path + $filename + '.eot');
		src: url($path + $filename + '.eot?#iefix') format('embedded-opentype'),
			 url($path + $filename + '.woff') format('woff'),
			 url($path + $filename + '.ttf') format('truetype');
		//	 url($path + $filename + '.svg#' + quote($fontname)) format('svg');

		font-weight: normal;
		font-style: normal;
	}
}