// HEADER

.main-header { margin-bottom: $u*4; }

.moodal-icon {
	border-radius: $u;
	border: 2px solid #fff;
	box-shadow: rgba(0,0,0,.5) 0 1px 2px;
	float: left;
	width: 50px;
	height: 42px;
	margin: 0 $u*3 0 (-$u*2);
	position: relative;

	div {
		position: absolute;
		text-shadow: none;
	}

	.close {
		$d: 15px;
		background: #fff;
		border-radius: 50%;
		color: #333;
		font-weight: 700;
		width: $d;
		height: $d;
		text-align: center;
		line-height: $d - 2;
		text-shadow: none;
		top: round(-$d/2);
		right: round(-$d/2);
	}

	.eye {
		box-shadow: rgba(0,0,0,.3) 0 1px 1px;
		top: $u + 2;

		&:before {
			background: #fff;
			border-radius: 50%;
			content: '.';
			color: #000;
			font-weight: 700;
			padding: 0 1px;
		}

		&.left { left: $u*2 + 2; }
		&.right { right: $u*2 + 2; }
	}

	.nose {
		$d: 3px;
		background: #fff;
		border-radius: 50%;
		box-shadow: rgba(0,0,0,.3) 0 1px 1px;
		display: block;
		position: absolute;
		bottom: $u + 2;
		width: $d;
		height: $d;

		&.left { left: $u*4 - 1; }
		&.right { right: $u*4 - 1; }
	}
}